.container{
    padding-left: 80px;
    padding-right: 100px;
}

.button{
    padding: 50px;
}

.container2{
    padding-left: 150px;
    padding-right: 150px;
}

.container3{
    padding-left: 80px;
    padding-right: 100px;
}